<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>H-project</title>
	<style>
		body {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			min-height: 100vh;
			font-family: 'Courier New', Courier, monospace;
		}

		h1 {
			color: goldenrod;
		}
	</style>
</head>

<body>
	<h1>
		WELCOME PAGE - H-PROJECT
	</h1>
</body>

</html>